<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% include head.liquid %}
    <script type="application/ld+json">
    {
    	"@context": "http://schema.org/",
    	"@type": "JobPosting",
    	"title" : "Postdoc in Microfluidics",
    	"description" : "We are seeking a highly motivated postdoctoral associate to join the Geofluids Laboratory in the University of Florida's Department of Geological Sciences. This individual will specialize in microfluidics and lab-on-a-chip technologies, developing geomaterial-inspired microfluidic chip models to investigate fluid-mineral interactions. The focus will be on reactive solute transport, mineral dissolution and precipitation processes at the pore scale. Potential applications include hydrogen storage, carbon sequestration, enhanced oil recovery, and contaminant remediation in geological media.Interested candidates should contact Dr. Sean Yoon at yoon.s@ufl.edu.",
    	"datePosted" : "2024-05-10",
    	"validThrough" : "2024-08-31",
    	"hiringOrganization": {
    		"@type": "Organization",
    		"sameAs": "University of Florida",
    		"name": "University of Florida"
    	},
    	"employmentType": ["FULL_TIME"],
    	"baseSalary": {
    		"@type": "MonetaryAmount",
    		"currency": "USD",
    		"value": {
    			"@type": "QuantitativeValue",
    			"minValue": 52000,
    			"maxValue": 55000,
    			"unitText": "YEAR"
    		}
    	},
    	"jobLocation": {
    		"@type": "Place",
    		"address": {
    			"streetAddress": "241 Williamson Hall P.O. Box 112120",
    			"addressLocality": "Gainesville",
    			"addressRegion": "FL",
    			"postalCode": "32611-2120",
    			"addressCountry": "United States"
    		}
    	}
    }
    </script> 
  </head>



  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    <!-- {% include footer.liquid %} -->

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
  </body>
</html>
