---
layout: page
---

<!-- about.html -->

          <hr>
          {% if page.profiles -%}
              {% for profile in page.profiles %}
                  <div class="profile col one {{ profile.align }}">
                      {% if profile.image %}
                        <img class="one" src="{{ profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
                      {% endif %}
                  </div>

                  <div class="clearfix">
                    {% if profile.content -%}
                        {% capture profile_content %}{%- include_relative {{ profile.content }} %}{% endcapture %}
                        {{ profile_content | markdownify }}
                    {%- else -%}
                        {{ content }}
                    {%- endif %}
                  </div>
                  <hr>
              {% endfor %}
          {%- endif %}

